@import "tailwindcss";

@theme inline {
  --font-vazirmatn: var(--font-vazirmatn);
  --font-zain: var(--font-zain);
}

body {
  max-width: 1400px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
@layer components {
  .my-hover {
    @apply transition-all duration-300 ease-in;
  }
}
